@(form: Form[Application.Login])

<html>
<head>
    <title>Книжковий клуб</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
</head>
<body>
    <div class="center">
        <div class="login-form">
            <div class="section-header">Вхід</div>
            <div class="input-center">
                @helper.form(routes.Application.authenticate) {
                    <input class="input-field" type="text" name="login" placeholder="Логін" value="@form("login").value">
                    <input class="input-field" type="password" name="password" placeholder="Пароль">
                    <input class="input-button" type="submit" align="center" value="Вхід"/></input>
                    @if(form.hasGlobalErrors) {
                        <p class="error">
                            @form.globalError.message
                        </p>
                    }
                }
            </div>
        </div>
    </div>

</body>
</html>