@(form: Form[Application.Login])

<html>
<head>
    <title>Книжковий клуб</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
</head>
<body>

    @helper.form(routes.Application.authenticate) {


        <h1>Залогуйтесь</h1>
        <input type="text" name="login" placeholder="Логін" value="@form("login").value">
        <input type="password" name="password" placeholder="Пароль">
        <button type="submit">Вхід</button>
        @if(form.hasGlobalErrors) {
            <p class="error">
                @form.globalError.message
            </p>
        }
    }

</body>
</html>