form {
    display: block;
    overflow: auto;
    border: 1px solid black;
    width: 300px;
}

input {
    display: block;
    margin: 5px;
    width: 90%;
}

button {
    float: right;
}

h1 {
    margin: 5px;
}

.error {
    color: red;
    height: 10px;
    padding: 5px;
    margin: 0px;
    float: left;
    font-family: monospace;
}
