.action-bar {
    height: 25px;
    border-bottom: 2px solid dodgerblue;
    width: 100%;
}

.action-bar-logout {
    float: right;
}

.welcome {
    float: left;
}

.users {
    float: left;
    width: 49%;
    height: 100%;
    border: 1px solid aquamarine;
    padding: 5px;
}

.user {
    color: black;
    background: blanchedalmond;
    padding: 2px;
    margin: 2px;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.user-ava {
    display: block;
    margin: auto;
    height: auto;
    width: 80%;
}

.user-label {
    font-size: 18px;
    font-family: cursive;
    text-align: center;
    display: block;
    margin: auto;
}

.books {
    float: right;
    width: 49%;
    height: 100%;
    border: 1px solid aquamarine;
    padding: 5px;
}

.book {
    color: black;
    background: blanchedalmond;
    padding: 2px;
    margin: 2px;
    height: 100px;
}

.book-cover {
    display: inline-block;
    float: left;
    background: url(/assets/images/book.png) no-repeat left center;
    background-size: cover;
    height: 80px;
    width: 80px;
    margin: 10px;
}

.book-info {
    display: inline;
    float: left;
    width: 50%;
    height: 80px;
    margin: 10px;
}

.book-name {
    width: 100%;
    float: left;
    font-size: 18px;
    font-family: cursive;
    text-align: left;
    margin: auto;
}

.book-author {
    width: 100%;
    float: left;
    font-size: 12px;
    font-family: cursive;
    text-align: left;
    margin: auto;
}

.book-rating {
    float: left;
    margin: auto;
}

.book-delete-rating {
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    float: left;
    margin: 4px;
    cursor: pointer;
    background: #de2525;
    background-image: -webkit-linear-gradient(top, #de2525, #bd1c1c);
    background-image: -moz-linear-gradient(top, #de2525, #bd1c1c);
    background-image: -ms-linear-gradient(top, #de2525, #bd1c1c);
    background-image: -o-linear-gradient(top, #de2525, #bd1c1c);
    background-image: linear-gradient(to bottom, #de2525, #bd1c1c);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
}

.book-delete-rating:hover {
    background: #fc3c3c;
    background-image: -webkit-linear-gradient(top, #fc3c3c, #d93434);
    background-image: -moz-linear-gradient(top, #fc3c3c, #d93434);
    background-image: -ms-linear-gradient(top, #fc3c3c, #d93434);
    background-image: -o-linear-gradient(top, #fc3c3c, #d93434);
    background-image: linear-gradient(to bottom, #fc3c3c, #d93434);
}

.starRating span.chosen {
    background-position: 0 0;
}
.starRating span {
    float: left;
    width: 24px;
    height: 24px;
    background-image: url(/assets/images/stars.png);
    display: inline-block;
    cursor: pointer;
    background-position: -24px 0;
}

.starRating:hover span {
    background-position: -24px 0;
}

.starRating:hover span.hoverChosen {
    background-position: 0 0;
}