.action-bar {
    height: 25px;
    border-bottom: 2px solid dodgerblue;
    width: 100%;
}

.action-bar-logout {
    float: right;
}

.welcome {
    float: left;
}

.users {
    float: left;
    width: 49%;
    height: 100%;
    border: 1px solid aquamarine;
    padding: 5px;
}

.user {
    color: black;
    background: blanchedalmond;
    padding: 2px;
    margin: 2px;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.user-ava {
    display: block;
    margin: auto;
    height: auto;
    width: 80%;
}

.user-label {
    font-size: 18px;
    font-family: cursive;
    text-align: center;
    display: block;
    margin: auto;
}

.books {
    float: right;
    width: 49%;
    height: 100%;
    border: 1px solid aquamarine;
    padding: 5px;
}

.book {
    color: black;
    background: blanchedalmond;
    padding: 2px;
    margin: 2px;
    height: 100px;
}

.book-cover {
    display: inline-block;
    float: left;
    background: url(/assets/images/book.png) no-repeat left center;
    background-size: cover;
    height: 80px;
    width: 80px;
    margin: 10px;
}

.book-info {
    display: inline;
    float: left;
    width: 50%;
    height: 80px;
    margin: 10px;
}

.book-name {
    width: 100%;
    float: left;
    font-size: 18px;
    font-family: cursive;
    text-align: left;
    margin: auto;
}

.book-author {
    width: 100%;
    float: left;
    font-size: 12px;
    font-family: cursive;
    text-align: left;
    margin: auto;
}
